body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    font-size: 12px;
}

button[disabled] {
    background-color: #aaa6ad;
}